<!DOCTYPE html> {% autoescape true %}
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid navbar-right">
            <div class="navbar-header">
                <p class="navbar-text"><a href="{{ url }}">
                {% if url_link_text == "Sign Out" %} 
                    <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
                {% else %}
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                {% endif %}
                {{ url_link_text }}</a></p>
                {% if adminurl == "/admin" %}
                <p class="navbar-text"><a href="{{ adminurl }}">Admin</a></p>
                {% endif %} </div>
        </div>
    </nav>
    <div class="container">
        <form class="form-inline" action="/results" method="post">
            <div class="form-group">
                <input type="text" class="form-control" name="firstname" placeholder="First name">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" name="surname" placeholder="Surname">
            </div>
            <button type="submit" class="btn btn-default">Choose Phantom name</button>
        </form>
    </div>
</body>

</html>
{% endautoescape %}